<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/iview/dist/styles/iview.css">
    <link rel="stylesheet" href="./node_modules/antd-iconfont/iconfont.css">
    <link rel="stylesheet" href="./1.0.1/css/sinoui.min.css">
    <link rel="stylesheet" href="./demo.css">
    <link rel="stylesheet" href="./static/css/components.css">

</head>

<body>
    <div id="app">
        <div class="demo">
            <div class="titleBox">
                <button>保存</button>
                <button>另存为</button>
            </div>
            <div class="content">
                <div class="left">
                    <div class="fields_list">
                        <div>
                            <div class="field_title">General</div>
                            <!-- <ul>
                                <li class="field_label move" @dragstart="dragstart($event, item)"
                                    @dragend="dragend($event,item)" draggable="true" v-for="item in originData">
                                    <i></i><span>{{item.type}} </span>
                                    
                                </li>
                            </ul> -->
                            <template>
                                <draggable tag="ul" v-bind="{group:{name: 'form',pull:'clone', put: false },sort: false}"
                                    animation="300">
                                    <li class="field_label move" :key="index" v-for="(item, index) in originData">
                                        <a @click="handleFieldClick(item)">
                                            <span>{{item.type}}</span>
                                        </a>
                                    </li>
                                </draggable>
                            </template>
                        </div>
                    </div>
                </div>

                <!-- <div class="center outline" @drop="drop" @dragover.prevent v-html="pageBox"> -->
                <draggable class="center outline" group="form" animation="300" @add="handleWidgetAdd" @end="onEnd" v-html="pageBox"
                :list="items">

                </draggable>
                <!-- </div> -->

                <div class="right">
                    <ul id="tab">
                        <li class="active" data-value="property">属性</li>
                        <li data-value="event">事件</li>
                    </ul>
                    <div class="cards">
                        <div id="property" class="hide show" v-html="propertyBox">

                        </div>
                        <div id="event" class="hide">
                            事件
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./static/js/vue.min.js"></script>
<script src="./static/js/sortable.js"></script>
<script src="./static/js/vuedraggable.umd.js"></script>
<script src="./node_modules/iview/dist/iview.js"></script>
<script src="./demo.js"></script>

</html>